<ion-content>
<ion-item>
  <ion-label>
    Name
  </ion-label>
  <ion-input>

  </ion-input>
</ion-item>

<ion-item>
  <ion-label>
    Surname
  </ion-label>
  <ion-input>

  </ion-input>
</ion-item>

<ion-item>
  <ion-label>
    age
  </ion-label>
  <ion-input>

  </ion-input>
</ion-item>

<ion-item>
  <ion-label>
    Gender
  </ion-label>
  <ion-input>

  </ion-input>
</ion-item>
<ion-nav-link router-direction="forward" [component]="nextComponent">
  <ion-button>Next</ion-button>
</ion-nav-link>
</ion-content>
