<ion-content>
  <form [formGroup]="contactForm">
    <ion-item>
      <ion-label>
        Email
      </ion-label>
      <ion-input formControlName="email" name="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Phone Number
      </ion-label>
      <ion-input formControlName="phonenumber" name="phonenumber">

      </ion-input>
    </ion-item>
  </form>
  <ion-nav-link routerDirection="forward" [component]="nextComponent">
  <ion-button>Next</ion-button>
</ion-nav-link>
<ion-nav-link routerDirection="backward">
  <ion-button>Back</ion-button>
</ion-nav-link>
</ion-content>
