################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cooper.Core/bin/Debug/net6.0
/Cooper.Core/obj
/Cooper.Data/.vs
/Cooper.Data/bin/Debug/net6.0
/Cooper.Data/obj
/Cooper.API.Service/bin/Debug/net6.0
/Cooper.API.Service/obj
/Cooper.Domain/obj
/Cooper.UnitTests/bin/Debug/net6.0
/Cooper.UnitTests/obj
/Cooper.Mobile/android
/Cooper.Domain/bin/Debug/net6.0
/Cooper.API/obj
/Cooper.API/bin/Debug/net6.0
