<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home 2</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img alt="Silhouette of mountains" [src]="" />
</ion-card>

  <form [formGroup]="personForm">
    <ion-item>
      <ion-label>
        Username
      </ion-label>
      <ion-input formControlName="username" name="username">
      </ion-input>
    </ion-item>
    <ion-item>
    <ion-label>
      Name
    </ion-label>
    <ion-input formControlName="name" name="name">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Surname
    </ion-label>
    <ion-input formControlName="surname" name="surname">

    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      age
    </ion-label>
    <ion-input formControlName="age" name="age">

    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Gender
    </ion-label>
    <ion-input formControlName="gender" name="gender">

    </ion-input>
  </ion-item>
  </form>

  <ion-item-divider></ion-item-divider>
  <form [formGroup]="contactForm">
    <ion-item>
      <ion-label>
        Email
      </ion-label>
      <ion-input formControlName="email" name="email">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Phone Number
      </ion-label>
      <ion-input formControlName="phonenumber" name="phonenumber">

      </ion-input>
    </ion-item>
  </form>
  <ion-item-divider></ion-item-divider>

    <form [formGroup]="addressForm">
      <ion-item>
        <ion-label>
          StreetName
        </ion-label>
        <ion-input formControlName="streetName" name="streetname">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          Suburb
        </ion-label>
        <ion-input formControlName="suburb" name="suburb">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          City
        </ion-label>
        <ion-input formControlName="city" name="suburb">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          Postal Code
        </ion-label>
        <ion-input formControlName="postalCode" name="postalCode">
        </ion-input>
      </ion-item>

    </form>
</ion-content>
