<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home 2</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img alt="Silhouette of mountains" [src]="" />
</ion-card>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input type="name" [value]="profile?.name"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Surname: </ion-label>
        <ion-input type="text" [value]="profile?.surname"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Age: </ion-label>
        <ion-input type="date" [value]="profile?.dateOfBirth"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Bio: </ion-label>
        <ion-input type="text" [value]="profile?.bio"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Address: </ion-label>
        <ion-input type="name"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<!--
      name:string,
    surname:string,
    profilePicture?:string,
    age:Date,
    address:Address,
    bio:string
-->
</ion-content>