<ion-content>
  <form [formGroup]="addressForm">
  <ion-item>
    <ion-label>
      StreetName
    </ion-label>
    <ion-input formControlName="streetName" name="streetname">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Suburb
    </ion-label>
    <ion-input formControlName="suburb" name="suburb">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      City
    </ion-label>
    <ion-input formControlName="city" name="suburb">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Postal Code
    </ion-label>
    <ion-input formControlName="postalCode" name="postalCode">
    </ion-input>
  </ion-item>

</form>
</ion-content>
