
<ion-content [fullscreen]="true">
<form [formGroup]="form">

  <ion-item>
    <ion-label>
      Username
    </ion-label>
    <ion-input formControlName="username" name="username">

    </ion-input>
  </ion-item>

  <ion-item>
  <ion-label>
    Name
  </ion-label>
  <ion-input formControlName="name" name="name">

  </ion-input>
</ion-item>
<ion-item>
  <ion-label>
    Surname
  </ion-label>
  <ion-input formControlName="surname" name="surname">

  </ion-input>
</ion-item>

<ion-item>
  <ion-label>
    age
  </ion-label>
  <ion-input formControlName="age" name="age">

  </ion-input>
</ion-item>

<ion-item>
  <ion-label>
    Gender
  </ion-label>
  <ion-input formControlName="gender" name="gender">

  </ion-input>
</ion-item>
<ion-item>
  <ion-label>
    Password:
  </ion-label>
  <ion-input formControlName="password" name="password">
  </ion-input>
</ion-item>
<ion-item>
  <ion-label>
    Enter Password again:
  </ion-label>
  <ion-input>

  </ion-input>
</ion-item>
</form>
</ion-content>
